
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <tr>
        <th>
            Code
        </th>
        <th>
            Title name
        </th>
        <th>
            remark
        </th>
        <th>
            actflg
        </th>
        <th>
            created_by
        </th>
        <th>
            created_date
        </th>
        <th>
            created_log
        </th>
        <th>
            modified_date
        </th>
        <th>
            status
        </th>
    </tr>

    <tr id="list_hu_title"></tr>
    

</table>
